/* Section 1 */


body {
    font-family: 'Roboto', "Times new Roman";
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    padding: 40px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list {
    display: flex;
    gap: 30px;
}

.headlink {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-main, .hero-subtext, .primary-button {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 20px;
}
.primary-button {
    font-size: 20px;
    background-color: #3882f6;
    border: 1px solid royalblue;
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    width: 140px;
}


/* Section 2 */


.information {
    padding: 20px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.info-body {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.info {
    max-width: 200px;
}


/* Section 3 */


.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 10px;
}

.author {
    margin-left: auto;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
}


/* Section 4 */


.signup {
    display: flex;
    justify-content: center;
}

.action {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 30px;
    color: #E5E7EB;
    width: 800px;   
    height: 50px;
    padding: 20px;
    margin: 60px;
}

.action-header {
    font-weight: 900;
}

.secondary-button {
    font-size: 20px;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    border-style: solid;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    width: 140px;
    color: #E5E7EB;
}


/* Section 5 */


.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}