/* Section 1 */


body {
    font-family: 'Roboto', "Times new Roman", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    padding: 40px 0;
}

.header {
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

.topbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.list {
    display: flex;
    gap: 30px;
}

.headlink {
    font-size: 18px;
    color: #D1D5DB;
    margin-top: -10px;
    margin-left: auto;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    padding: 40px 130px;
}

.hero-main, .hero-subtext, .primary-button {
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 15px;
    padding: 10px;
}

.primary-button {
    font-size: 18px;
    background-color: #3882f6;
    border: 1px solid royalblue;
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    width: 140px;
}

img {
    border: 5px solid #E08B57;
    border-radius: 8px;
}

/* Section 2 */


.information {
    padding: 20px;
    padding: 40px 0;
    margin-bottom: 50px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
}

.info-body {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.info {
    max-width: 200px;
}


/* Section 3 */


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 180px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 10px;
}

.author {
    text-align: end;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
}


/* Section 4 */


.signup {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin: 30px;
}

.action {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px 40px;
    color: #E5E7EB;
    width: 80%;
    height: 120px;
}

.action-header {
    font-size: 25px;
    font-weight: 900;
    padding: 5px;
}

.secondary-button {
    font-size: 20px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 8px;
    border-style: solid;
    font-weight: 900;
    padding: 10px;
    margin: 10px;
    width: 140px;
    color: #E5E7EB;
}


/* Section 5 */


.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}